:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--slate);
  background-color: var(--white);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h1,
h2 {
  margin-top: 0;
  text-align: center;
}

img {
  display: block;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.header-logo-link,
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.header-logo-link {
  color: var(--navy-blue);
  margin-right: 76px;
}

.second-color {
  color: var(--iris);
}

.header-nav-list {
  display: flex;
}

.nav-list-item a,
.contacts-list-item a,
.header-logo-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-list .nav-list-item + .nav-list-item,
.header-contacts-list .contacts-list-item + .contacts-list-item {
  margin-left: 40px;
}

.header-contacts-list {
  margin-left: auto;
}

.header-nav-list a {
  color: var(--navy-blue);
}
.header-nav-list a:hover,
.header-nav-list a:focus {
  color: var(--ocean);
}

.nav-link-studio:active {
  color: var(--ocean);
  text-decoration: underline;
}

.header-contacts-list {
  display: flex;
}

.header-contacts-link {
  color: var(--slate);
  font-style: normal;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

.hero-section {
  padding-top: 0;
  padding-bottom: 0;

  background-color: var(--navy-blue);
  color: var(--white);
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("/images/people-office\ 1.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;

  margin-bottom: 48px;
  padding-top: 188px;
}

button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 69px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white);
}

button:hover,
button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list .features-item + .features-item {
  margin-left: 24px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);

  margin-bottom: 0;
}

.color-cloud-section {
  background-color: var(--cloud);
}

h2 {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: var(--navy-blue);
}

.our-team-item {
  width: calc((100%-72px) / 4);
  padding-bottom: 0;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  text-align: center;
}

.list-row .our-team-item + .our-team-item {
  margin-left: 24px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

.our-team-item .name {
  margin-top: 0;
  margin-bottom: 7px;
}

.portfolio-item {
  width: calc((100%-48px) / 3);
  border-bottom: 1px solid var(--cornflower);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.portfolio-item .name {
  margin-top: 0;
  margin-bottom: 8px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;

  color: var(--cloud);
  background-color: var(--navy-blue);
}

.footer-logo-link {
  display: flex;
  margin-bottom: 16px;

  color: var(--cloud);
}

.footer-text {
  display: flex;
  max-width: 264px;
  margin-top: 0;
  margin-bottom: 0;
}
